body, html {
    height: 100%;
}

html{
    scroll-behavior: smooth;
}

ul {
    font-size: 20px;
}

.footer {
    padding-top: 8%;
    background-color: white;
}

.shop-page {
    height: 100%;
    width: 100%;
    background-color: white;
}

.shop-img {
    width: 50%;
    padding: 5%;
    float: left;
}

.shop-words {
    color: black;
    padding: 5%;
}

.words {
     width: 50%;
     float: right;
     padding-top: 10%;
}

.shop-btn {
    margin-left: 45%;
    padding: 2%;
    background-color: black;
    border: white, 2px;
    color: white;
}